*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  /* justify-content: space-between; */
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 212px 1fr;
  gap: 40px;
  align-items: end;
}

.title {
  margin-bottom: 26px;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  /* width: 194px; */
  height: 103px;
  object-fit: cover;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}