*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 711px;
}

.result__video-container {
  position: relative;
  block-size: 386px;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 1fr 194px;
}

.search-form__fieldset {
  border: none;
  justify-self: center;
}

.search-form__fieldset-title {
  font-size: 18px;
  margin-block-end: 5px;
}

.search-form__textfield {
  border: none;
  padding: 0;
  border-block-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  inline-size: 225px;
  block-size: 27px;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  color: currentColor;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  inline-size: fit-content;
}

/* #region SEARCH-FORM__LABEL BEHAVIOR*/

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__label:active .search-form__textfield {
  border: none;
}

/* #endregion */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  border: 1px solid currentColor;
  inline-size: 15px;
  block-size: 15px;
  background-color: currentColor;
}

.button {
  border: 1px solid currentColor;
  padding: 6px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: currentColor;
  background: transparent;
  transition: background 0.2s;
}

/* #region BUTTON BEHAVIOR*/

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

/* #endregion */

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-block-end: 23px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content__list-item {
  inline-size: 394px;
}

.content__list-item:not(:last-child) {
  padding-block-end: 30px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 1px;
}

.content__card-link_current {
  background: #545050;
}

/* #region CONTENT__CARD-LINK BEHAVIOR*/

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

/* #endregion */

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  padding-block-start: 2px;
  padding-inline-start: 1px;
  inline-size: 200px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-block-end: 6px;
  max-inline-size: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-block-end: 5px;
}

.content__video-card-description {
  line-height: normal;
  max-inline-size: 100%;
  overflow-wrap: break-word;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin: 2px;
  inline-size: 399px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
